venv/
**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/
/project_logging/logs/

# Private folder (to personal use)
private/*

position_prediction/data/
position_prediction/models/*
position_prediction/tuners/*

rl_global/rl_replay_memory/*
rl_global/rl_forward_paths/*

# Flight data
flight_recording/recordings/
