venv/
**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/
/project_logging/logs/

# Private folder (to personal use)
private/*

artificial_gps/data/
artificial_gps/models/*
artificial_gps/tuners/*

rl_global/rl_replay_memory/*

# Flight data
flight_recording/recordings/
