venv/
**/.idea/
**/__pycache__/

# Private folder (to personal use)
private/*

artificial_gps/data/
artificial_gps/models/*
# Truner results folder
artificial_gps_hp_tuner/

# Flight data
flight_recording/recordings/